# Explicit key for one or more domains
Host github.com gitlab.com bitbucket.org
  IdentityFile ~/.ssh/id_primary
  IdentitiesOnly yes

# Alternative key for a domain
# Git repo must have origin git@secondary.github.com:<user>/<repo>.git
Host secondary.github.com
  HostName github.com
  IdentityFile ~/.ssh/id_secondary
  IdentitiesOnly yes
