# Local SSH configuration template
# Copy this file as config.local to activate it.

# Example configuration for specific hosts
Host alfa.example.com beta.example.com
  User git

# Example configuration for a whole domain with exclusions
Host !alfa.example.com !beta.example.com *.example.com
  User root
  IdentityFile ~/.ssh/id_rsa_example.com
