[core]
    editor = vim
[merge]
    tool = vimdiff
[pull]
    rebase = true
[push]
    default = simple
[http]
    postBuffer = 134217728 # 128 MiB
[alias]
    chmodx = add --chmod=+x --
    cmpb = cmp-branches
    diffc = diff --word-diff-regex=.
    diffw = diff --word-diff
    drm= push origin --delete
    fap = fetch --all --prune
    ff = fast-forward
    ffa = fast-forward -a
    gb = gone-branches
    ladog = log --all --decorate --oneline --graph
    last = log --max-count=1 --stat
    lsb = ls-branches
    ss = super-status
[include]
    path = ~/.gitconfig.local
