[merge]
    tool = vimdiff
[pull]
    rebase = true
[push]
    default = simple
[http]
    postBuffer = 134217728 # 128 MiB
[alias]
    chmodx = add --chmod=+x --
    cmpb = cmp-branches
    diffc = diff --word-diff-regex=.
    diffw = diff --word-diff
    drm= push origin --delete
    fap = fetch --all --prune
    ff = fast-forward
    ffa = fast-forward -a
    gb = gone-branches
    loga = log --oneline --decorate --graph --all
    logax = loga --no-merges
    logd =  log --oneline --no-decorate @{upstream} --not HEAD
    logdx =  logd --no-merges
    logm = log --oneline --decorate
    logmx = logm  --no-merges
    logu =  log --oneline --no-decorate HEAD --not @{upstream}
    logux =  logu --no-merges
    lsb = ls-branches
    ss = super-status
[include]
    path = ~/.gitconfig.local
