# Blacklist all in HOME directory by default.
/*

# Whitelist files that are part of the dotfiles.git repo.
!/Bash

# Blacklist local only files.
/Bash/*_local.*

# Blacklist IDE config files
/Bash/.vscode
