# shellcheck shell=bash

# Local ~/.bashrc.d/ script template
# Copy this file as ~/.bashrc.d/70-local.sh to activate it.

## Example of a documented alias
alias helloworld='hello world'

## Example of a documented function
hello() {
    echo "Hello, $1!"
}
