# shellcheck shell=bash

# Local ~/.bashrc.d/ script template
# Rename this file to 70-local.sh to activate it.

## Example of a documented alias
alias helloworld='hello world'

## Example of a documented function
hello() {
    echo "Hello, $1!"
}
