# Local Git configuration template
# Copy this file as ~/.config/git/config.local to activate it.

[user]
    # Local credentials
    # Override default credentials from ~/.config/git/config.
    name = Jan Pikl
    email = pikl.jan@gmail.com

[includeIf "gitdir:~/Workspace/<scope>/"]
    # Scoped Git configuration
    # See ~/.config/git/config.scope.template for an example.
    path = ~/.config/git/config.<scope>
