# Scoped Git configuration template
# Inclusion of this file can be enabled in ~/.config/git/config.local.
# See ~/.config/git/config.local.template for more details.

[user]
    # Scoped credentials
    name = Jan Pikl
    email = pikl.jan@gmail.com
